[coinbasepro]
secret = YOUR_SECRET
api_key = YOUR_API_KEY
password = YOUR_PASSWORD
fiat = EUR
crypto = BTC
fee = 0.0025
delay = 3600
withdraw = False
withdrawThreshold = 0.0
toAddress = YOUR_WALLET_ADDRESS
